<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        insert into bible (contents, chapter, verse, title, category, isMemorized, stars)
        values (#{contents}, #{chapter}, #{verse}, #{title}, #{category}, #{isMemorized}, #{stars})
    </insert>
    <update id="updateBoard">
        update bible
        set contents=#{contents},
            chapter=#{chapter},
            verse=#{verse},
            title=#{title},
            category=#{category},
            isMemorized=#{isMemorized},
            stars=#{stars}
        where id = #{id}
    </update>
    <delete id="deleteBoard">
        delete
        from bible
        where id = #{id}
    </delete>
    <select id="getBoard" resultType="board">
        select *
        from bible
        where id = #{id}
    </select>
    <select id="getBoardList" resultType="board">
        select *
        from bible
        order by id desc
    </select>
</mapper>